body, html {
  padding: 0;
  margin: 0;
  top: 0;
}

#main-container {
  margin: 0;
  width: 100%;
}

.row {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.full-container {
  width: 100%;
  min-height: 100vh;
  background-color: yellow;
  position: relative;
}

nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #F2E8DE;
  color: #252422;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

.navigation {
  float: right;
}

.logo {
  float: left;
}

.logo img {
  height: 60px;
}

.section {
  width: 100%;
  padding: 0;
}

/* .login-s, .register-s {
  display: none;
} */

.login-form {
  border: 1px solid black;
  padding: 40px 10px;
}

.login-form label, .login-form input {
  width: 100%;
}

.login-form .submit-button {
  width: 100%;
  padding: 20px 0;
}


.dash-s {
  background-image: url(../img/notebook_write_watch_pen_67636_1920x1080.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 60px 10px;
  color: #252422;
}

.dash-s .prompt-container {
  margin-top: 30px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #252422;
  text-align: center;
  height: 50px;
  color: #F2E8DE;
}

.footer p {
  margin: 0;
  line-height: 50px;
}

.footer:before {
    background: linear-gradient(-45deg, #252422 16px, transparent 0), linear-gradient(45deg, #252422 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 25px 25px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 40px;
    left: 0px;
    width: 100%;
    height: 25px;
}

.prompt-container {
  position: relative;
}

.prompt {
  padding: 20px 0;
  background-color: #F2E8DE;
}

.prompt * {
  display: inline-block;
}

.prompt-list li {
  margin-bottom: 25px;
}


.save {
  position: absolute;
  top: 15px;
  right: 17px;
}

.url {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

/* flecha animada */



.arrow-container {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100px;
 z-index: 1000;
}

.chevron {
  position: absolute;
  width: 2.1em;
  height: 0.48em;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
 content: '';
 position: absolute;
 top: 0;
 height: 100%;
 width: 50%;
 background: #252422;
}

.chevron:before {
 left: 0;
 transform: skewY(30deg);
}

.chevron:after {
 right: 0;
 width: 50%;
 transform: skewY(-30deg);
}

@keyframes move-chevron {
 25% {
  opacity: 1;
  }
 33.3% {
  opacity: 1;
  transform: translateY(2.28em);
 }
 66.6% {
  opacity: 1;
  transform: translateY(3.12em);
 }
 100% {
  opacity: 0;
  transform: translateY(4.8em) scale(0.5);
 }
}