/* elementos y clases varias */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #410b13;
}

body, html {
  padding: 0;
  margin: 0;
  top: 0;
  font-family: 'Helvetica', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Crimson Text', serif;
}

#main-container {
  margin: 0;
  width: 100%;
}

.row {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
  border: 0;
}

.full-container {
  width: 100%;
  min-height: 100vh;
  background-color: #252422;
  position: relative;
}

.section {
  width: 100%;
  min-height: 100vh;
  padding: 100px 0;
}

.mini-search-container {
  display: none;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* nav */
nav {
  position: fixed;
  width: 100%;
  min-height: 70px;
  background-color: #F2E8DE;
  color: #252422;
  z-index: 1000;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

.reg-log {
  float: right;
  line-height: 70px;
  padding: 0 10px;
}

.reg-log li, #login-menu li {
  line-height: 35px;
  padding: 0 10px;
  margin: 0 5px;
  border: 2px solid #252422;
  background-color: #252422;
  border-radius: 35px;
  color: #F2E8DE;
  cursor: pointer;
  font-size: 13.5px;
  text-transform: uppercase;
  transition: ease-in-out .3s;
}

.reg-log li:hover, #login-menu li:hover, .input-group-append button:hover {
  background-color: #F2E8DE;
  color: #252422;
}

#login-menu {
  height: 70px;
  line-height: 70px;
  text-align: center;
  float: right;
  padding: 0 20px 0 0;
}

#login-menu li {
  line-height: 30px;
}

.search-container {
  padding: 12px 10px;
  line-height: 60px;
  width: 600px;
  height: 70px;
}

.search-container .input-group {
  margin: 0;
  height: 70px;
}

.search-container input, .input-group-append {
  margin: 0;
  height: 45px;
}

.search-container input, .mini-search-container input {
  background-color: #F2E8DE;
  border: 1px solid #252422;
  border-right: none;
}

.search-container input::placeholder, .mini-search-container input::placeholder {
  color: #252422;
  text-transform: uppercase;
  font-size: 12px;
}

.search-container input:focus, .mini-search-container input:focus {
  background-color: #F2E8DE;
  border-color: #410B13;
  box-shadow: 0 0 0 0.2rem rgba(65,11,19,.25);
}

.input-group-append button {
  background-color: #252422;
  border: 1px solid #252422;
  color: #F2E8DE;
}

.logo {
  float: left;
  padding: 5px 20px;
}

.logo img {
  height: 60px;
  cursor: pointer;
}

.logo img:hover {
  opacity: .8;
}

/* sección login y registro */
.login-form {
  padding: 40px 10px;
  background-color: #F2E8DE;
}

.login-form label, .login-form input {
  width: 100%;
}

.login-form label {
  margin: 0;
  font-size: 13px;
}

.mail, .password {
  margin-bottom: 15px;
}

.login-form .submit-button {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.login-form button {
  background-color: #410B13;
  color: #F2E8DE;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.login-form a, footer a {
  color: #410B13;
  font-weight: 600;
}

footer a:hover {
  color: #410B13;
}

/* inicio sin login */
.dash-s {
  background-image: url(../img/notebook_write_watch_pen_67636_1920x1080.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #252422;
}

.welcome h1, .welcome p:not(.prompt-text) {
  color: #252422;
  font-weight: 700;
  /*text-shadow: -1px 0 #F2E8DE, 0 1px #F2E8DE, 1px 0 #F2E8DE, 0 -1px #F2E8DE;*/
  text-shadow: rgb(232, 214, 192) 3px 0px 0px, rgb(232, 214, 192) 2.83487px 0.981584px 0px, rgb(232, 214, 192) 2.35766px 1.85511px 0px, rgb(232, 214, 192) 1.62091px 2.52441px 0px, rgb(232, 214, 192) 0.705713px 2.91581px 0px, rgb(232, 214, 192) -0.287171px 2.98622px 0px, rgb(232, 214, 192) -1.24844px 2.72789px 0px, rgb(232, 214, 192) -2.07227px 2.16926px 0px, rgb(232, 214, 192) -2.66798px 1.37182px 0px, rgb(232, 214, 192) -2.96998px 0.42336px 0px, rgb(232, 214, 192) -2.94502px -0.571704px 0px, rgb(232, 214, 192) -2.59586px -1.50383px 0px, rgb(232, 214, 192) -1.96093px -2.27041px 0px, rgb(232, 214, 192) -1.11013px -2.78704px 0px, rgb(232, 214, 192) -0.137119px -2.99686px 0px, rgb(232, 214, 192) 0.850987px -2.87677px 0px, rgb(232, 214, 192) 1.74541px -2.43999px 0px, rgb(232, 214, 192) 2.44769px -1.73459px 0px, rgb(232, 214, 192) 2.88051px -0.838247px 0px;
}


.welcome p {
  font-size: 18px;
}

.dash-s .prompt-container {
  margin-top: 30px;
}

.dash-s .prompt:hover {
  box-shadow: 0px 1px 9px 2px #252422;
}

span.enter-register {
  color: #410B13;
  cursor: pointer;
}

span.enter-register:hover {
  color: #205655;
  cursor: pointer;
}

/* contenedor de prompt */
.prompt-container {
  position: relative;
}

.prompt {
  background-color: #F2E8DE;
  padding: 15px;
}

.prompt-container .for-border {
  width: 100%;
  padding: 20px;
  position: relative;
  border: 1px dashed #252422;
}

.prompt * {
  display: inline-block;
}

/* prompt en lista */
.prompt-list li {
  margin-bottom: 35px;
}

.prompt p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.listing-prompt {
  padding-left: 10px;
  padding-right: 10px;
}

.listing-prompt hr {
  max-width: 900px;
}

.listing-prompt .title {

}

.listing-prompt .tags-container {
  text-align: center;
  padding: 10px;
  color: #F2E8DE;
  text-transform: lowercase;
  padding-bottom: 45px;
}

.tags-container p {
  font-size: 12px;
  margin-bottom: 8px;
}

.tag {
  background-color: #205655;
  padding: 3px 5px;
  margin: 6px;
  color: #F2E8DE;
}

.tags-container .tag:hover {
  background-color: #194241;
}

.save {
  position: absolute;
  top: 15px;
  right: 17px;
  cursor: pointer;
}

.url {
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}

.marker {
  color: #410B13;
}

.prompt .url a {
  color: #410B13;
}

.prompt .url a:hover {
  color: #1B3022;
}

#title-for-prompts {
  color: #F2E8DE;
}

.title-for-favs {
  padding-bottom: 70px;
}

/* footer */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #F2E8DE;
  text-align: center;
  height: 50px;
  color: #252422;
}

.footer p {
  margin: 0;
  line-height: 50px;
}

.footer:before {
    background: linear-gradient(-45deg, #F2E8DE 16px, transparent 0), linear-gradient(45deg, #F2E8DE 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 25px 25px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 40px;
    left: 0px;
    width: 100%;
    height: 25px;
}

.login-form .alert-danger {
  margin-top: 1em;
}
/* flecha animada */
.arrow-container {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100px;
 z-index: 1000;
}

.chevron {
  position: absolute;
  width: 2.1em;
  height: 0.48em;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
 content: '';
 position: absolute;
 top: 0;
 height: 100%;
 width: 50%;
 background: #252422;
}

.chevron:before {
 left: 0;
 transform: skewY(30deg);
}

.chevron:after {
 right: 0;
 width: 50%;
 transform: skewY(-30deg);
}

@keyframes move-chevron {
 25% {
  opacity: 1;
  }
 33.3% {
  opacity: 1;
  transform: translateY(2.28em);
 }
 66.6% {
  opacity: 1;
  transform: translateY(3.12em);
 }
 100% {
  opacity: 0;
  transform: translateY(4.8em) scale(0.5);
 }
}


  .search-menu-hide, .big-menu-hide, .hide-menu {
    display: none;
  }

.hide-menu {
  display: inline-block;
  margin: 0;
  padding:0;
}

/* un par de medias */
@media (min-width: 770px) {
  .vertical-align {
      display: flex;
      align-items: center;
  }
}

@media (max-width: 600px) {
  ul#login-menu {
    padding: 0 3px 0 0!important;
  }
  #login-menu li {
    margin: 0 1px;
  }
  div.logo {
    padding: 5px 3px;
  }
}